<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0" />

	<link rel="stylesheet" href="/css/admin/style.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="shortcut icon" href="/images/dark_noFaceLogo.png">

	<title>No Face | Admin</title>
</head>
<body>
	<section id="sidebar">
		<a href="/noFace/home" class="brand">
            <img id="logo" src="/images/dark_noFaceLogo.png">
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="pedidos">
					<i class='bx bxs-cart' ></i>
					<span class="text">Pedidos</span>
				</a>
			</li>
			<li>
				<a href="produtos">
					<i class='bx bxs-shopping-bag-alt' ></i>
					<span class="text">Produtos</span>
				</a>
			</li>
			<li>
				<a href="funcionarios">
					<i class='bx bxs-group' ></i>
					<span class="text">Funcionários</span>
				</a>
			</li>
			<li>
				<a href="categorias">
					<i class='bx bxs-category' ></i>
					<span class="text">Categorias</span>
				</a>
			</li>
			<li>
				<a href="variacoes">
					<i class='bx bx-font-size' ></i>
					<span class="text">Variações</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="#" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Sair</span>
				</a>
			</li>
		</ul>
	</section>

	<section id="content">
		<nav>
			<i class='bx bx-menu' ></i>
			<form action="#">
				<div class="form-input">
					<input id="searchInput" placeholder="Procurar pedido...">
					<button id="clean"><i class='bx bx-x-circle'></i></button>
					<button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
				</div>
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
		</nav>

		<main>
			<div class="head-title">
				<div class="left">
					<h1>Pedidos</h1>

                    <div class="filter-container">
                        <label for="statusFilter">Filtrar por Status:</label>
                        <select id="statusFilter" onchange="filtrarPedidosPorStatus()">
                            <option value="">Todos</option>
                            <option value="Realizado">Realizado</option>
                            <option value="Em andamento">Em andamento</option>
                            <option value="Em entrega">Em entrega</option>
                            <option value="Entregue">Entregue</option>
                            <option value="Cancelado">Cancelado</option>
                            <option value="Inativado">Inativado</option>
                            <option value="Inativado">Devolvido</option>
                            <option value="Inativado">Trocado</option>
                        </select>
                    </div>

                    <div class="filter-container">
                        <label for="startDate">Data Início:</label>
                        <input type="date" id="startDate">

                        <label for="endDate">Data Fim:</label>
                        <input type="date" id="endDate">

                        <button id="generateReportBtn" class="btn btn-dark">Gerar Relatório PDF</button>
                    </div>

				</div>
			</div>

			<div class="table-data">
				<div class="order">
					<table>
						<thead>
							<tr>
                                <th>Código</th>
                                <th>Informações</th>
                                <th>Valor total</th>
                                <th>Forma pagamento</th>
                                <th>Observação</th>
								<th>Status</th>
                                <th>Data/Hora</th>
                                <th>Ações</th>
							</tr>
						</thead>
						<tbody id="itensContainer">
                            <% if (itens && itens.length > 0) { %>
                                <% itens.forEach(item => { %>
                                    <tr>
                                        <td><%= item.codigo %></td>
                                        <td style="position: relative;">
                                          <span
                                            class="material-symbols-sharp info-icon"
                                            style="color: blue; cursor: pointer;"
                                            data-id="<%= item.id %>"
                                            onmouseover="buscarPedido(this)"
                                            onmouseout="esconderTooltip(this)">
                                            info
                                          </span>
                                          <div class="tooltip" style="display: none;">
                                            Carregando...
                                          </div>
                                        </td>
                                        <td>R$<%= item.valorTotal%></td>
                                        <td><%= item.formaPagamento%></td>
                                        <td><%= item.observacao%></td>
                                        <td><%= item.status%></td>
                                        <td>
                                          <%= new Intl.DateTimeFormat('pt-BR', {
                                                day: '2-digit',
                                                month: '2-digit',
                                                year: 'numeric',
                                                hour: '2-digit',
                                                minute: '2-digit',
                                                hour12: false,
                                                timeZone: 'America/Sao_Paulo'
                                            }).format(new Date(item.createdAt)) %>
                                        </td>
                                        <td>
                                            <button id="editBtn" class="btn btn-dark" style="margin-right: 5px;" data-id="<%= item.id %>">Editar</button>
                                            <button id="deleteBtn" class="btn btn-danger" data-id="<%= item.id %>">Excluir</button>
                                        </td>
                                    </tr>
                                <% }); %>
                            <% } else { %>
                                <tr>
                                    <td colspan="9" style="text-align: center;">Não há pedidos cadastrados</td>
                                </tr>
                            <% } %>
						</tbody>

						<tfoot>
                            <tr>
                                <td colspan="9">
                                    <ul class="pagination">
                                        <% for(let i = 1; i <= totalPages; i++) { %>
                                            <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                                                <a class="page-link" href="pedidos?page=<%= i %>"><%= i %></a>
                                            </li>
                                        <% } %>
                                    </ul>
                                </td>
                            </tr>
                        </tfoot>
					</table>
				</div>
			</div>
		</main>
	</section>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
	<script src="/js/admin/script.js"></script>
    <script src="/js/admin/pedidos.js"></script>
    <script src="/js/admin/relatorio.js"></script>
</body>
</html>