<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.75">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/css/assets/style.css">
        <link rel="stylesheet" href="/css/home/home.css">
        <link rel="stylesheet" href="/css/home/shop.css">

        <link rel="shortcut icon" href="/images/dark_noFaceLogo.png">

        <title>NoFace | Home</title>
    </head>
    <%- include('../partials/header.ejs') %>
    <div class="bg-gray-950 pb-28 py-12 text-center border-t">
        <div class=" mx-auto md:max-w-[100rem] max-w-[50rem]">
            <h1 class="text-4xl font-bold text-white lilita-one-regular">Vista a rua</h1>
            <div class="flex mt-8 gap-3 justify-center flex-col md:flex-row items-center">
                <a href="/noFace/portfolio" class="rounded-lg border border-white bg-white py-2 px-4 hover:bg-opacity-85 cursor-pointer w-fit">Portfólio</a>
                <a href="/noFace/sobre" class="rounded-lg border border-white bg-gray-950 py-2 px-4 text-white hover:opacity-85 cursor-pointer">Sobre nós</a>
            </div>
        </div>
    </div>

    <div class="produtos py-12 mx-auto max-w-screen-xl text-center min-h-screen flex flex-col justify-center items-center">
        <% if (itens && itens.length > 0) { %>
            <div class="w-full text-center mb-12">
                <h1 class="text-4xl font-bold">Conheça nossa coleção</h1>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-<%= Math.min(itens.length, 3) %> lg:grid-cols-<%= Math.min(itens.length, 3) %> gap-24 mt-10 justify-items-center w-full">
                <% itens.forEach(item => { %>
                    <div class="flex flex-col justify-between items-center gap-3 w-52 h-full">
                        <a href="produto/<%= item.id %>" class="w-full h-64 flex justify-center items-center overflow-hidden rounded-xl border border-black hover:opacity-85">
                            <img src="<%= item.img %>" alt="" class="w-full h-full object-cover" />
                        </a>
                        <form action="produto/<%= item.id %>" method="post">
                            <p class="text-xl font-bold"><%= item.nome %></p>
                            <button class="rounded-lg border border-black hover:bg-opacity-85 bg-black text-white shadow-md w-32 py-1 mt-2">Comprar</button>
                        </form>
                    </div>
                <% }); %>
            </div>
        <% } else { %>
            <div class="no-products">
                <img src="/images/noProduct.png" alt="Nenhum produto encontrado" />
                <p>Ops! Houve um erro ao buscar produtos. Tente novamente mais tarde</p>
            </div>
        <% } %>
    </div>

    <div class="container">
        <div class="content">
            <div class="text">
                <h1>Explore a essência urbana em cada detalhe</h1>
                <p>Fortalecendo a autoexpressão através do estilo e do lifestyle urbano</p>
                <a href="/portfolio" class="btn">Conheça nosso portfólio</a>
            </div>
            <div class="image-container">
                <img src="/images/homePageModel.png" alt="Modelo 3D" class="image">
            </div>
        </div>
    </div>

    <script>
        let userData = <%- JSON.stringify(user) %>;
        userData = userData.user;

        document.addEventListener("DOMContentLoaded", function() {
            if (userData) {
                const idUser = userData.id;
                const userTipo = userData.tipo_usuario;

                const cadastroButton = document.getElementById("loginBtn");

                if (idUser && userTipo) {
                    if (userTipo === 'admin') {
                        cadastroButton.textContent = 'Painel de Controle';
                        cadastroButton.href = 'admin/pedidos';
                    } else if (userTipo === 'cliente') {
                        const nav = document.getElementById('navbar');

                        const pedidoButton = document.createElement('a');
                        pedidoButton.textContent = 'Perfil';
                        pedidoButton.href = `cliente/perfil/${userData.id}`;

                        cadastroButton.textContent = 'Sair';
                        cadastroButton.href = '/sair';

                        nav.insertBefore(pedidoButton, cadastroButton);
                    }
                } else {
                    cadastroButton.textContent = 'Cadastre-se';
                }

                const menuLink = document.getElementById('menuLink');
                menuLink.href = '/cardapio';
            }
        });
    </script>
    <script src="/js/users/menu.js"></script>

    <%- include('../partials/footer.ejs') %>
</html>
