<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.75">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="assets/style.css">
        <script src="/js/users/menu.js"></script>
        <title>NoFace | Home</title>
    </head>
    <%- include('../partials/header.ejs') %>
        <div class="py-12 mx-auto md:max-w-[100rem] max-w-[50rem]">
            <h1 class="text-4xl font-bold lilita-one-regular text-center">Veja o que preparamos para você</h1>
            <div class="md:mt-20 grid md:grid-cols-2 grid-cols-1 mt-14 gap-y-20 justify-center">
                <% products.forEach(product =>{ %>
                    <div class="flex flex-col items-center gap-3">
                        <img src="<%= product.image %>" alt="produto" class="w-52 rounded-xl border border-black" />
                        <p class="text-xl font-bold"><%= product.name %></p>
                        <form action="/produto/<%= product.id %>">
                            <button class="rounded-lg border border-black hover:bg-gray-950 hover:text-white px-4 py-0.5">Comprar</button>
                        </form>
                    </div>
                <% }) %>
            </div>
        </div>
        <div class="mt-10 bg-gray-950 md:px-12 py-12 px-8 relative">
            <div class="mx-auto md:max-w-[100rem] max-w-[50rem]">
                <div class="text-center w-[70%]">
                    <h1 class="text-2xl font-bold sm:text-xl lilita-one-regular text-white ">Explore a essência urbana em cada detalhe</h1>
                    <p class="text-lg mt-1 libre-franklin mb-5 text-white ">Fortalecendo a autoexpressão através do estilo e do lifestyle urbano</p>
                    <a href="/portfolio" class="w-fit rounded-lg border border-white bg-white py-2 px-5 black-button hover:bg-gray-950/80 hover:text-white">Conheça nosso portfólio</a>
                </div>
                <img src="/images/homePageModel.png" alt="Modelo 3D" class="absolute w-52 bottom-0 right-72"/>
            </div>
        </div>
    <%- include('../partials/footer.ejs') %>
